<!DOCTYPE html>
<html>
         
        <link rel="stylesheet" href="/static/site.css" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <head>
        <title>{{.title}}</title>
    </head>
    <body>
        <div class = "konten">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="col-sm-4">
                            <img src="/static/marcel.jpg" style="width: 190px;margin-left: 65px;">
                        </div>
                        <div class="col-sm-5">
                            <div class="a-konten">
                                <h2 style= "color: white;">Marcell Antonius</h2>
                                <h5 style= "color: white;padding-bottom: 50px;">Web Developer</h5>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-sm-3">
                        <div class="b-konten">
                            <h6 style= "color: white;">Communicative.</h6>  
                            <h6 style= "color: white;margin-left: 25px;">Ambitious.</h6>   
                            <h6 style= "color: white;margin-left: 42px;">Leader.</h6>    
                        </div> 
                    </div>
                </div>
            </div>               
        </div>
    
        <div class="konten1">
            <div class="container">
                <div class = "row">
                    <div class = "col-sm-3">
                        <h5 style="margin-left: 80px; text-align: center">Live your life as this is your last day </h5>
                        <div class="konten1-gambar">
                            <img src="/static/instagra.png" style="width: 30px;">
                            <img src="/static/linked_in.png" style="width: 30px;">
                            <img src="/static/github.png" style="width: 30px;">
                            <img src="/static/gitlab.png" style="width: 30px;">
                            <img src="/static/twitter.png" style="width: 30px;">
                        </div>
                        <br>
                        <div class="a-konten11">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 style="color: #031019 ">Education</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6>2017-Now</h6>
                                    <h3>Computer Science</h3>
                                    <h5 style="font-size: 15px;">University Padjadjaran</h5>
                                    <h6>Indonesia, Jatinangor</h6>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6>2014-2017</h6>
                                    <h3>Science</h3>
                                    <h5 style="font-size: 15px;">SMAK Gamaliel</h5>
                                    <h6>Indonesia, Bandung</h6>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6>2011-2014</h6>
                                    <h5 style="font-size: 15px;">SMPK Gamaliel</h5>
                                    <h6>Indonesia, Bandung</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "col-sm-9">
                        <div class="a-konten1">
                            <h1 style="color: #031019 ">What  I am all about</h1>
                            <h4 style="line-height: 1.4; color: #737373">
                                I am an experienced college student over one year experience in handling multi-case program or issue on many courses. My professional experiences stems from months of providing excellent work with any team, creative problem solving , an excellent oral presentation and building customer loyalty.
                            </h4>
                            <br>
                            <h1 style="color: #031019 ">Expertise</h1>
                            <div class="row">
                                <div class="b-konten1">
                                    <div class="col-sm-5">
                                        <h3 style="margin-left: 2px;">Programming Language</h3>
                                        <h5 style="color : #737373">C#, Pyhton , C++ , Java , SQL , Go</h5>
                                        <br>
                                        <h3>Video Editing</h3>
                                        <h5 style="color : #737373">Adobe Premiere, Sony Vegas</h5>
                                    </div>
                                    <div class="col-sm-7">
                                        <h3 style="margin-left: 80px;">Web Design</h3>
                                        <h5 style="margin-left: 80px;color : #737373">HTML , CSS , PHP , Go</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class ="row">
                            <div class=" col-sm-12">
                                <div class= "a-konten1">
                                    <h1 style="color: #031019 ">Skills</h1>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class ="row">
                                <div class=" col-sm-12">
                                    <div class= "a-konten1">
                                        <div class="progress-wrapper">
                                            <div class="progress-item">
                                                    <span class="progress-title">Creativity</span>
                                            </div>
                                            <div class="progress">
                                                <div aria-valuemax="134" aria-valuemin="0" aria-valuenow="10" class="progress-bar" role="progressbar" style="width: 75%">
                                                    <span class="progress-percent">75%</span>
                                                </div>
                                            </div>
                                            <div class="progress-item">
                                                    <span class="progress-title">Communication</span>
                                            </div>
                                            <div class="progress">
                                                <div aria-valuemax="150" aria-valuemin="0" aria-valuenow="100" class="progress-bar" role="progressbar" style="width: 75%">
                                                    <span class="progress-percent">85%</span>
                                                </div>
                                            </div>
                                            <div class="progress-item">
                                                    <span class="progress-title">Organizational</span>
                                            </div>
                                            <div class="progress">
                                                <div aria-valuemax="134" aria-valuemin="0" aria-valuenow="90" class="progress-bar" role="progressbar" style="width: 75%">
                                                    <span class="progress-percent">80%</span>
                                                </div>
                                            </div>
                                            <div class="progress-item">
                                                    <span class="progress-title">Problem Solving</span>
                                            </div>
                                            <div class="progress">
                                                <div aria-valuemax="134" aria-valuemin="0" aria-valuenow="90" class="progress-bar" role="progressbar" style="width: 75%">
                                                    <span class="progress-percent">77%</span>
                                                </div>
                                            </div>
                                            <div class="progress-item">
                                                    <span class="progress-title">Team Work</span>
                                            </div>
                                            <div class="progress">
                                                <div aria-valuemax="134" aria-valuemin="0" aria-valuenow="90" class="progress-bar" role="progressbar" style="width: 75%">
                                                    <span class="progress-percent">82%</span>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="a-konten1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1 style="color: #031019 ">Organization Activities</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6>2015-2016</h6>
                                        <h3>Head of Logistics </h3>
                                        <h5 style="font-size: 15px;">OSIS SMAK Gamaliel</h5>
                                        <h6>The legitimate student organization contrainer in the school. As a place of life in groups of students who work together to achieve common goals</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6>2017-2018</h6>
                                        <h3>Staff External Relations</h3>
                                        <h5 style="font-size: 15px;"> BE Himatif Fmipa Unpad</h5>
                                        <h6>Tthe practice of deliberately managing the spread of information between an individual or an organization (such as a business, government agency, or a nonprofit organization) and the public</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6>2018-2019</h6>
                                        <h3>Head of External Public Relations</h3>
                                        <h5 style="font-size: 15px;"> BE Himatif Fmipa Unpad</h5>
                                        <h6>the practice of deliberately managing the spread of information between an individual or an organization (such as a business, government agency, or a nonprofit organization) and the public</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6>2018-2019</h6>
                                        <h3>Staff of External Public Relations</h3>
                                        <h5 style="font-size: 15px;"> Keluarga Mahasiswa Bandung</h5>
                                        <h6>A place for students of Padjadjaran University, especially to Bandung city students. External relations accommodates information from outside parties concerning the organizational structure and family of Bandung unpad students</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6>2018-2019</h6>
                                        <h3>Head of Research and Development</h3>
                                        <h5 style="font-size: 15px;"> Buyyo.id</h5>
                                        <h6>It is a place to enhance application research and development as well as entrepreneurial spirit by utilizing its main website products and applications</h6>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="a-konten1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1 style="color: #031019 ">Committee Activities</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6>2015</h6>
                                        <h3>Stage Manager </h3>
                                        <h5 style="font-size: 15px;">Malam Pentas Senin SMAK Gamaliel</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h6>2016</h6>
                                        <h3>Vice Project Officer</h3>
                                        <h5 style="font-size: 15px;"> PERAK SMAK Gamaliel</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6>2016</h6>
                                        <h3>Head of Logistics</h3>
                                        <h5 style="font-size: 15px;">Good Friday GKI Anugerah</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h6>2017</h6>
                                        <h3>Vice Coordinator of Security</h3>
                                        <h5 style="font-size: 15px;">POA Village of Change BEM KEMA Unpad 2017</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6>2017</h6>
                                        <h3>Head of Public Relations</h3>
                                        <h5 style="font-size: 15px;">Instragram BE Himatif FMIPA Unpad </h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h6>2017</h6>
                                        <h3>Vice Project Officer</h3>
                                        <h5 style="font-size: 15px;"> IFEST ( Informatics Festival ) BE Himatif Unpad </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="konten1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 style="margin-left: 100px;">Portofolio </h1>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>